.inputContainer{
    display: inline-flex;
    position: relative;
}

.EmojiPickerContainer {
    position: absolute;
    width: 400px;
    height: 350px;
    border: solid 1px white;
    background-color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    top: 20px;
    border-radius: 5px;
}

.emojiPickerButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.emojiList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.emojiButton {
    border: none;
    font-size: 28px;
    background-color: transparent;
    padding: 5px;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.emojiButton:hover {
    background-color: rgb(255, 255, 255);
}

.search {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top:10px ;
}